.background {
  position: relative;
  overflow: hidden;
}

.background__image {

  img {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include vp-1199 {
    img {
      width: 602px;
      height: 1364px;
    }
  }

  @include vp-767 {
   img {
      width: 171px;
      height: 595px;
   }
  }
}

.background__image-mini {
  img {
    position: absolute;
    top: 1552px;
    right: 0;
  }
}
