.btn {
  font-family: $ff-montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  padding: 19px;
  background-color: #0266c1;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    border: 1px solid #1c3374;
    background: #ffffff;
    color: #1c3374;
  }

  &:active {
    color: #ffffff;
    background: #1c3374;
  }

  &:disabled,
  &--disabled {
    border-color: #999999;
    color: #ffffff;
    background: #999999;
  }
}
