.footer {
  background-color: #ffffff;
}

.footer__container {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;


  @include vp-1199 {
    padding-top: 34px;
  }

  @include vp-767 {
    padding-top: 23px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #2d383f;
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid transparent;

  &:hover {
    border-bottom-color: #2d383f;
  }

  &:focus-visible {
    outline: none;
    border-color: #2d383f;
  }

  &:active {
    border-color: transparent;
  }

  @include vp-1199 {
    font-size: 14px;
    line-height: 14px;
  }
}

.footer__contact {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #2d383f;
  min-width: 200px;
  text-align: right;

  &:hover,
  &:focus-visible {
    outline: none;
    color: #1c3374;
  }

  &:active {
    color: #0266c1;
  }

  &--disabled {
    color: #0266c1;
  }

  @include vp-1199 {
    display: none;
  }
}

.footer__list {
  color: #2d383f;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;

  @include vp-1199 {
    margin-left: 5px;
    gap: 13px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 0;
    column-count: 2;
    column-gap: 73px;
    margin-left: 0;
  }
}

.footer__privacy {
  color: #2d383f;
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;

  &:hover,
  &:focus-visible {
    color: #1c3374;
  }

  &:active {
    color: #0266c1;
  }
}

.footer__list-item {
  @include vp-767 {
    margin-bottom: 5px;
  }
}

.footer__logo {
  img {
    width: 200px;
    height: 60px;
  }

  @include vp-1199 {
    img {
      width: 142;
      height: 42px;
    }
  }
}
