.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &--opened {
    @include vp-1199 {
      background-color: rgba(45, 56, 63, 0.6);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0266c1;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @include vp-1199 {
    min-height: 82px;
    padding-left: 45px;
    padding-right: 45px;

    .header--opened & {
      background-color: #ffffff;
    }
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 13px;
    flex-direction: column;
    align-items: flex-end;
  }
}

.header__container {
  @include vp-1199 {
    .header & {
      padding: 0;
    }
  }
}

.header__nav {
  @include vp-1199 {
    display: none;

    .header--opened & {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 81px;
      padding-top: 30px;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 45px;
      background-color: #ffffff;
    }

    .header--nojs & {
      display: block;
      padding-top: 50px;
    }
  }

  @include vp-767 {
    .header--opened & {
      top: 100px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 28px;
    }

    .header--nojs & {
      padding-top: 0;
      align-self: flex-start;
    }
  }
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid transparent;

  &:hover {
    border-bottom-color: #ffffff;
  }

  &:focus-visible {
    outline: none;
    border-color: #ffffff;
  }

  &:active {
    border-color: transparent;
  }

  @include vp-1199 {
    color: #2d383f;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    font-weight: 700;

    .header--nojs & {
      color: #ffffff;
    }
  }
}

.header__item {
  @include vp-1199 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 22px;
  }
}

.header__contact {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;

  &:hover,
  &:focus-visible {
    outline: none;
    color: #1c3374;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }

  &:disabled {
    color: #ffffff;
  }

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
    margin-left: auto;

    .header--opened & {
      color: $color-default-black;
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }
}

.header__list {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  gap: 19px;

  @include vp-1199 {
    text-align: left;
    display: block;
  }
}

.header__nav-toggle {
  display: none;

  @include vp-1199 {
    position: absolute;
    top: 28px;
    left: 45px;
    z-index: 2;
    display: block;
    width: 26px;
    height: 26px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    span {
      width: 26px;
      height: 2px;
      display: block;
      background-color: #ffffff;
      position: absolute;
      left: 0;

      &:nth-child(1) {
        top: 3px;
      }

      &:nth-child(2) {
        top: 11px;
        width: 17px;
      }

      &:nth-child(3) {
        top: 19px;
      }
    }

    .header--opened & {
      span {
        background-color: $color-default-black;
      }

      span:nth-child(1) {
        top: 11px;
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        display: none;
      }

      span:nth-child(3) {
        top: 11px;
        transform: rotate(-45deg);
      }
    }

    .header--nojs & {
      display: none;
    }
  }

  @include vp-767 {
    top: 15px;
    left: 15px;
  }
}

.header__logo {
  padding: 11px 31px 10px;
  color: #ffffff;

  @include vp-1199 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    .header--opened & {
      color: $color-default-black;
    }
  }

  @include vp-767 {
    transform: none;
    padding: 0;
    position: static;
    margin-left: auto;
    margin-bottom: 9px;
  }
}

