.hero {
  position: relative;
}

.hero__container {
  position: relative;
  z-index: 2;
}

.hero__slide {
  position: relative;
  padding-top: 200px;
  padding-bottom: 80px;
  background-color: #6489af;
  height: auto;

  @include vp-1199 {
    padding-top: 211px;
    padding-bottom: 121px;
  }
}

.hero__background {
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}

.hero__slide--active {
  display: block;
}

.hero__header {
  min-height: 520px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    text-align: center;
    align-items: center;
    min-height: 0;
    margin-bottom: 45px;
  }
}

.hero__header h2 {
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
  z-index: 3;

  @include vp-1199 {
    font-size: 56px;
    line-height: 56px;
    max-width: 678px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
    max-width: 332px;
  }
}

.hero__header p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 35px;
  width: 420px;

  @include vp-1199 {
    width: 475px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 20px;
    max-width: 332px;
  }
}

.hero__button {
  width: 180px;
}

.hero__footer {
  display: flex;
  margin-top: auto;

  @include vp-1199 {
    display: none;
  }
}

.hero__days {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 19px;
  padding-bottom: 14px;
  margin-right: 10px;
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.50);
  display: inline-block;

  svg {
    position: absolute;
    top: 11px;
    left: 20px;
    color: #ffffff;
  }
}

.hero__bullets {
  position: absolute;

  &.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 91px;
    right: 110px;
    left: auto;
    width: auto;

    @include vp-1199 {
      width: 100%;
      right: 0;
      bottom: 34px;
    }
  }

  &.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 10px;
    margin-right: 10px;
  }

  button {
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    opacity: 1;
    background-color: transparent;

    &.swiper-pagination-bullet-active {
      background-color: #ffffff;
    }
  }

  @include vp-767 {

    button {
      width: 8px;
      height: 8px;
    }
  }
}

.hero__video {
  position: absolute;
  bottom: 74px;
  right: 45px;
  width: 482px;
  height: 317px;

  @include vp-1199 {
    width: 442px;
    height: 300px;
    position: relative;
    right: auto;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 442px;
      height: 300px;
    }
  }

  @include vp-767 {
    display: none;
  }
}

.hero__image {
  position: absolute;
  bottom: 70px;
  right: 44px;

  @include vp-1199 {
    width: 442px;
    height: 365px;
    position: relative;
    right: auto;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 442px;
      height: 365px;
    }
  }

  @include vp-767 {
    display: none;
  }
}

.hero__music {
  position: absolute;
  bottom: 80px;
  right: 44px;

  @include vp-1199 {
    width: 340px;
    height: 220px;
    position: relative;
    right: auto;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 340px;
      height: 220px;
    }
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video-iframe {
  width: 100%;
  height: 100%;
}

.hero__video-play {
  position: absolute;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
  width: 56px;
  height: 56px;

  svg {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-3px, -12px);
    z-index: 3;
  }

  &:hover,
  &:focus-visible {
    outline: none;
    border-color: #1c3374;

    svg {
      stroke: #000000;
    }
  }

  &:active {
    border-color: #1c3374;
    background-color: #1c3374;

    svg {
      stroke: none;
    }
  }

  &:disabled {
    border-color: rgba(2, 102, 193, 0.1);

    svg {
      color: #0266c1;
    }
  }
}
