.review {
  position: relative;
  z-index: 4;
  padding-top: 33px;
  margin-bottom: 1px;

  @include vp-1199 {
    padding-top: 35px;
    padding-bottom: 37px;
  }

  @include vp-767 {
    padding-top: 24px;
    padding-bottom: 0;
  }
}

.review__container {
  position: relative;

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.review__arrows {
  top: 7px;
  right: 45px;

  @include vp-1199 {
    top: 9px;
  }

  @include vp-767 {
    right: 15px;
    top: 6px;
  }
}

.review .review__slogan {
  margin-top: 0;
  margin-bottom: 27px;

  @include vp-1199 {
    margin-bottom: 36px;
    padding-left: 1px;
  }

  @include vp-767 {
    margin-left: 15px;
    margin-bottom: 3px;
    padding-top: 16px;
  }
}

.review__wrapper {
  padding: 10px;

  @include vp-1199 {
    padding: 20px 0;
  }

  @include vp-767 {
    padding: 0;
  }
}

.review__blocks {
  @include vp-767 {
    padding: 15px;
    padding-bottom: 10px;
  }
}

.review__slide {
  display: flex;
  width: 700px;
  padding: 20px 40px 20px 20px;
  border: 0 solid #ffffff;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  @include vp-1199 {
    width: 565px;
    padding: 20px 30px 20px 20px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    padding: 20px;
  }
}

.review__header {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    color: #2d383f;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    margin: 0;
    margin-bottom: 8px;
  }

  @include vp-1199 {
    padding-top: 4px;

    h3 {
      margin-bottom: 6px;
    }
  }

  @include vp-767 {
    margin-top: 15px;
    margin-left: 0;
    padding-right: 7px;

    h3 {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 8px;
    }
  }
}

.review__image {
  flex-shrink: 0;
  width: 258px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include vp-1199 {
    width: 186px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.review__footer {
  margin-bottom: 10px;

  p {
    color: #2d383f;
    font-size: 12px;
    font-weight: 300;
    line-height: 100%;
    margin: 0;
  }

  @include vp-1199 {
    margin-bottom: 4px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.review__content {
  margin-top: -2px;
  margin-bottom: 12px;

  p {
    color: #2d383f;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
  }

  @include vp-1199 {
    margin-top: 0;
    margin-bottom: 0;

    p {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  @include vp-767 {
    margin-bottom: 6px;

    p {
      margin-bottom: 10px;
    }
  }
}
